<div class="aa--container">
  <h1>Login</h1>

  <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && submit()">
    <div class="tui-form__row">
      <tui-input formControlName="username">
        Email <span class="tui-required"></span>
      </tui-input>
      <tui-field-error formControlName="username"></tui-field-error>
    </div>
    <div class="tui-form__row">
      <tui-input-password formControlName="password">
        Password <span class="tui-required"></span>
      </tui-input-password>
      <tui-field-error formControlName="password"></tui-field-error>
    </div>

    <div class="tui-form__buttons">
      <button
        tuiButton
        [showLoader]="(isLoading$ | async)!"
        class="tui-form__button"
        size="m"
        type="submit"
      >
        Submit
      </button>
    </div>
  </form>
</div>
