<header>
  <div class="aa--flex aa--items-center">
    <!-- BEGIN: Menu Dropdown -->
    <div class="aa--inline lg:aa--hidden">
      <tui-hosted-dropdown [content]="dropdownMenu">
        <button
          tuiIconButton
          type="button"
          appearance="flat"
          size="m"
          class="aa--mr-2"
          icon="tuiIconAlignJustifyLarge"
        ></button>
      </tui-hosted-dropdown>
      <ng-template #dropdownMenu>
        <tui-data-list role="menu">
          <a
            *ngFor="let item of menuItems"
            #rla="routerLinkActive"
            tuiOption
            role="menuitemradio"
            routerLinkActive
            [attr.aria-checked]="rla.isActive"
            [routerLink]="item.link"
          >
            {{ item.label }}
            <tui-svg *ngIf="rla.isActive" src="tuiIconCheckLarge"></tui-svg>
          </a>
        </tui-data-list>
      </ng-template>
    </div>
    <!-- END: Menu Dropdown -->

    <!-- BEGIN: Title -->
    <a routerLink="/home" class="aa--flex aa--items-center">
      <img src="/assets/logo.svg" class="logo-icon" />
      <span class="aa--text-xl aa--font-semibold">
        <span class="aa--hidden md:aa--inline">Angular Authentication</span>
        <span class="aa--inline md:aa--hidden">Auth</span>
      </span>
    </a>
    <!-- END: Title -->

    <!-- BEGIN: Main menu items -->
    <div class="menu-items aa--hidden lg:aa--inline">
      <a
        *ngFor="let item of menuItems"
        tuiButton
        size="m"
        [routerLink]="item.link"
        routerLinkActive="active"
        #rla="routerLinkActive"
        [appearance]="rla.isActive ? 'primary' : 'flat'"
        [icon]="item.icon!"
      >
        {{ item.label }}
      </a>
    </div>
    <!-- END: Main menu items -->
  </div>

  <div class="aa--flex aa--items-center">
    <!-- BEGIN: Auth user menu -->
    <div *ngIf="authUser$ | async as user; else login">
      <tui-hosted-dropdown tuiDropdownAlign="left" [content]="userDropdown">
        <tui-avatar
          [text]="user.firstName + ' ' + user.lastName"
          class="aa--cursor-pointer"
        ></tui-avatar>
      </tui-hosted-dropdown>
      <ng-template #userDropdown>
        <tui-data-list role="menu">
          <tui-opt-group [label]="user.firstName + ' ' + user.lastName">
            <button tuiOption (click)="logout()">
              <span>
                <tui-svg class="aa--mr-2" src="tuiIconLogoutLarge"></tui-svg>
                Logout
              </span>
            </button>
          </tui-opt-group>
        </tui-data-list>
      </ng-template>
    </div>

    <ng-template #login>
      <a
        tuiButton
        size="m"
        routerLink="/login"
        [appearance]="'outline'"
        icon="tuiIconUser"
      >
        Login
      </a>
    </ng-template>
    <!-- END: Auth user menu -->

    <!-- BEGIN: Github link -->
    <a
      href="https://github.com/nikosanif/angular-authentication"
      target="_blank"
      rel="noopener noreferrer"
      class="aa--ml-4 aa--text-2xl"
      [tuiHint]="'Source code'"
    >
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
    </a>
    <!-- END: Github link -->
  </div>
</header>
