@if (vm$ | async; as vm) {
  <section>
    <h1>
      {{ vm.greeting }},
      <span class="aa--text-primary">
        {{ vm.authUser?.firstName }} {{ vm.authUser?.lastName }}
      </span>
    </h1>

    <p class="aa--text-xl">
      Shhh... 🤫 - This is a
      <span class="aa--text-primary">top secret</span>
      feature!
    </p>
  </section>

  <section>
    <h2>Users</h2>

    <mat-card>
      <mat-card-content>
        <div class="alert alert--warning">
          Note that we expose users' credentials for
          <b>demonstration purposes</b>
          only! Feel free to logout and login again using one of the following accounts.
        </div>

        <table mat-table [dataSource]="vm.users" class="aa--w-full">
          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let user">{{ user.id }}</td>
          </ng-container>

          <!-- Full Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Full Name</th>
            <td mat-cell *matCellDef="let user">
              {{ user.firstName }} {{ user.lastName }}
            </td>
          </ng-container>

          <!-- Username Column -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>Username</th>
            <td mat-cell *matCellDef="let user">{{ user.username }}</td>
          </ng-container>

          <!-- Password Column -->
          <ng-container matColumnDef="password">
            <th mat-header-cell *matHeaderCellDef>Password</th>
            <td mat-cell *matCellDef="let user">{{ user.password }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </section>
}
