// Extend Taiga UI Theme
:root {
  // Primary
  --tui-primary: #04c8c8;
  --tui-primary-hover: #05b6b6;
  --tui-primary-active: #05b6b6;

  // Secondary
  --tui-secondary: #e8f6f6;
  --tui-secondary-hover: #cff8f8;
  --tui-secondary-active: #cff8f8;

  // Link
  --tui-link: #069c9c;
  --tui-link-hover: #058d8d;
}

.content {
  height: 100%;
  width: 100%;

  aa-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .main-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    main {
      background-color: #f4f3f7;
      position: relative;
      z-index: 0;
      margin-top: 4rem;
      flex: 1 0 auto;
      overflow: hidden;
      padding-bottom: 10px;
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
    }

    aa-footer {
      flex: 0 0 auto;
    }
  }
}
