<section>
  <h1>Hello <span class="aa--text-primary">ng</span>Friends!</h1>

  <p class="aa--text-xl">
    I'm <span class="aa--text-primary">Nikos Anifantis</span>, thanks for visiting this
    repository.
  </p>

  <p>Nothing special here, I just wanted to say hi! 👋</p>
</section>

<section>
  <h2 class="aa--mb-4">Support ❤️🙏</h2>

  <ul class="tui-list tui-list_large">
    <li class="tui-list__item">
      <a
        tuiButton
        appearance="secondary"
        href="https://github.com/nikosanif/angular-authentication"
        target="_blank"
        rel="noopener noreferrer"
      >
        <fa-icon icon="star" class="aa--mr-2"></fa-icon>
        <span>Star repository</span>
      </a>
    </li>
    <li class="tui-list__item">
      <a
        tuiButton
        appearance="secondary"
        href="https://twitter.com/intent/tweet?text=An%20Angular%20application%20that%20demonstrates%20best%20practices%20for%20user%20authentication.%0A%0A%40nikosanif%20%0A%F0%9F%94%97%20https%3A%2F%2Fgithub.com%2Fnikosanif%2Fangular-authentication%0A%0A&hashtags=Angular,NgRx,TaigaUI,tailwindcss,ngAuth
        "
        target="_blank"
        rel="noopener noreferrer"
      >
        <fa-icon [icon]="['fab', 'twitter']" class="aa--mr-2"></fa-icon>
        <span>Tweet about this</span>
      </a>
    </li>
  </ul>
</section>
