<!-- BEGIN: Main banner -->
<section>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
    <!-- Left -->
    <div class="flex flex-col justify-center text-center md:text-left">
      <h1>
        Angular
        <span class="text-primary">Authentication</span>
      </h1>
      <p class="py-5 text-xl lg:py-3 lg:text-2xl">
        An
        <span class="text-primary">Angular</span>
        application that demonstrates best practices for user
        <span class="text-primary">authentication</span>
        &
        <span class="text-primary">authorization</span>
        flows.
      </p>
      <div class="mt-4">
        <a
          mat-flat-button
          href="https://github.com/nikosanif/angular-authentication"
          target="_blank"
          rel="noopener noreferrer"
        >
          Source Code
          <fa-icon [icon]="['fab', 'github']" class="ml-2" />
        </a>
      </div>
    </div>

    <!-- Right -->
    <div class="grid place-items-center">
      <img src="/assets/security.svg" class="w-2/3" alt="Angular Authentication" />
    </div>
  </div>
</section>
<!-- END: Main banner -->

<!-- BEGIN: Features -->
<section>
  <h2 class="text-center">Features</h2>
  <p class="subtitle text-center">
    This repository uses state-of-the-art features for web development.
  </p>

  <div class="grid grid-cols-1 gap-8 md:grid-cols-3 lg:grid-cols-4">
    @for (feature of features(); track $index) {
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ feature.name }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>{{ feature.description }}</p>
        </mat-card-content>

        <mat-card-actions>
          @if (feature.link) {
            <a
              mat-button
              matTooltip="Link"
              [href]="feature.link"
              target="_blank"
              rel="noopener noreferrer"
              class="mr-4"
            >
              <fa-icon icon="link" />
            </a>
          }

          @if (feature.github) {
            <a
              mat-button
              matTooltip="Github"
              [href]="feature.github"
              target="_blank"
              rel="noopener noreferrer"
              class="mr-4"
            >
              <fa-icon [icon]="['fab', 'github']" />
            </a>
          }

          @if (feature.docs) {
            <a
              mat-button
              matTooltip="Documentation"
              [href]="feature.docs"
              target="_blank"
              rel="noopener noreferrer"
              class="mr-4"
            >
              <fa-icon icon="book" />
            </a>
          }
        </mat-card-actions>
      </mat-card>
    }
  </div>

  <div class="mt-6 flex justify-center">
    <button mat-raised-button (click)="toggleFeatures()">
      {{ showFeaturesLabel() }}
    </button>
  </div>
</section>
<!-- END: Features -->
