<!-- BEGIN: Main banner -->
<section>
  <div class="aa--grid aa--grid-cols-1 aa--gap-4 md:aa--grid-cols-2">
    <!-- Left -->
    <div
      class="aa--flex aa--flex-col aa--justify-center aa--text-center md:aa--text-left"
    >
      <h1>
        Angular
        <span class="aa--text-primary">Authentication</span>
      </h1>
      <p class="aa--py-5 aa--text-xl lg:aa--py-3 lg:aa--text-2xl">
        An
        <span class="aa--text-primary">Angular</span>
        application that demonstrates best practices for user
        <span class="aa--text-primary">authentication</span>
        &
        <span class="aa--text-primary">authorization</span>
        flows.
      </p>
      <div class="aa--mt-4">
        <a
          mat-flat-button
          href="https://github.com/nikosanif/angular-authentication"
          target="_blank"
          rel="noopener noreferrer"
        >
          Source Code
          <fa-icon [icon]="['fab', 'github']" class="aa--ml-2" />
        </a>
      </div>
    </div>

    <!-- Right -->
    <div class="aa--grid aa--place-items-center">
      <img src="/assets/security.svg" class="aa--w-2/3" alt="Angular Authentication" />
    </div>
  </div>
</section>
<!-- END: Main banner -->

<!-- BEGIN: Features -->
<section>
  <h2 class="aa--text-center">Features</h2>
  <p class="subtitle aa--text-center">
    This repository uses state-of-the-art features for web development.
  </p>

  <div class="aa--grid aa--grid-cols-1 aa--gap-8 md:aa--grid-cols-3 lg:aa--grid-cols-4">
    @for (feature of features(); track $index) {
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ feature.name }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>{{ feature.description }}</p>
        </mat-card-content>

        <mat-card-actions>
          @if (feature.link) {
            <a
              mat-button
              matTooltip="Link"
              [href]="feature.link"
              target="_blank"
              rel="noopener noreferrer"
              class="aa--mr-4"
            >
              <fa-icon icon="link" />
            </a>
          }

          @if (feature.github) {
            <a
              mat-button
              matTooltip="Github"
              [href]="feature.github"
              target="_blank"
              rel="noopener noreferrer"
              class="aa--mr-4"
            >
              <fa-icon [icon]="['fab', 'github']" />
            </a>
          }

          @if (feature.docs) {
            <a
              mat-button
              matTooltip="Documentation"
              [href]="feature.docs"
              target="_blank"
              rel="noopener noreferrer"
              class="aa--mr-4"
            >
              <fa-icon icon="book" />
            </a>
          }
        </mat-card-actions>
      </mat-card>
    }
  </div>

  <div class="aa--mt-6 aa--flex aa--justify-center">
    <button mat-raised-button (click)="toggleFeatures()">
      {{ showFeaturesLabel() }}
    </button>
  </div>
</section>
<!-- END: Features -->
