<footer class="grid grid-cols-1 gap-4 px-6 py-4 md:grid-cols-2">
  <div class="text-center md:text-left">
    <div class="font-semibold">
      © {{ now | date: 'y' }} - Made with ❤️&nbsp; & ☕️&nbsp; by Nikos Anifantis
    </div>
    <small>Version: {{ version }}</small>
  </div>

  <div class="text-center md:text-right">
    @for (link of personalLinks; track $index) {
      <a mat-button href="{{ link.href }}" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="link.icon" />
        <span class="ml-2">{{ link.label }}</span>
      </a>
    }
  </div>
</footer>
