<footer class="aa--grid aa--grid-cols-1 md:aa--grid-cols-2 aa--gap-4">
  <div class="aa--text-center md:aa--text-left">
    <p class="aa--font-semibold">© {{ now | date: 'YYYY' }} - Nikos Anifantis</p>
    <!-- TODO: show app version -->
    <p>Version: 0.0.0</p>
  </div>

  <div class="aa--text-center md:aa--text-right links">
    <a
      tuiLink
      href="https://github.com/nikosanif"
      target="_blank"
      rel="noopener noreferrer"
    >
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
      <span>Github</span>
    </a>
    <a
      tuiLink
      href="https://nikosanif.medium.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <fa-icon [icon]="['fab', 'medium-m']"></fa-icon>
      <span>Medium</span>
    </a>
    <a
      tuiLink
      href="https://twitter.com/nikosanif"
      target="_blank"
      rel="noopener noreferrer"
    >
      <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
      <span>Twitter</span>
    </a>
    <a
      tuiLink
      href="https://www.linkedin.com/in/nikosanifantis/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
      <span>LinkedIn</span>
    </a>
  </div>
</footer>
