<footer class="aa--grid aa--grid-cols-1 aa--gap-4 aa--px-6 aa--py-4 md:aa--grid-cols-2">
  <div class="aa--text-center md:aa--text-left">
    <div class="aa--font-semibold">
      © {{ now | date: 'YYYY' }} - Made with ❤️&nbsp; & ☕️&nbsp; by Nikos Anifantis
    </div>
    <small>Version: {{ version }}</small>
  </div>

  <div class="aa--text-center md:aa--text-right">
    @for (link of personalLinks; track $index) {
      <a mat-button href="{{ link.href }}" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="link.icon" />
        <span class="aa--ml-2">{{ link.label }}</span>
      </a>
    }
  </div>
</footer>
