header {
  box-shadow: 0 0.125rem 1rem rgb(0 0 0 / 8%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
  border-bottom: 1px solid #ededed;
  height: 4rem;
  @apply aa--bg-white;
}

.logo-icon {
  height: 50px;
  margin-right: 5px;
}

.menu-items {
  > a {
    @apply aa--mx-1;
  }
}
